


:root{
    --theme-color: #E99920;
    --base-color: #E99920;
    --header-color: #1E272A;
    --banner-color: #35082B;
    --box-bg: #233743;
    --body-color: #1E272A;
    --section-bg: #231d70;
    --white-color: #fff;
    --black-theme: #350B2D;
    --black-color: #000000;
    --calender: #191D23;
    --ratting-color: #E4A853;
    --pragraph-color: #666666;
    --border: #8A5F31;
    --border-two: #BDBDBD;
    --cate-border: #E1CFB7;
    --placehol: #b0bcde;
    --modal-bg: #55184B;
}