/*Goole Font Use*/
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,600;1,600&display=swap");
/*Goole Font Use*/
/*CSS Table Of Content Ends Here
    0.1 Mixins
    0.2 Variables
    0.3 Typography
    0.4 Footer
    0.5 Header
    0.6 Banner
    0.7 Section
    0.8 Animation
    0.9 Componets
    0.10 Reponsive
*/
/*Abstracts / mixins*/
/*Abstracts / mixins*/
/*Abstracts / variables*/
:root {
  --theme-color: #E99920;
  --base-color: #E99920;
  --header-color: #1E272A;
  --banner-color: #35082B;
  --box-bg: #233743;
  --body-color: #1E272A;
  --section-bg: #231d70;
  --white-color: #fff;
  --black-theme: #350B2D;
  --black-color: #000000;
  --calender: #191D23;
  --ratting-color: #E4A853;
  --pragraph-color: #666666;
  --border: #8A5F31;
  --border-two: #BDBDBD;
  --cate-border: #E1CFB7;
  --placehol: #b0bcde;
  --modal-bg: #55184B;
}

/*Abstracts / variables*/
/*Abstracts / typography*/
body {
  color: var(--black-color);
  padding: 0;
  margin: 0;
  background: var(--body-color);
  overflow-x: auto;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: "Jost", sans-serif;
}

h1 {
  font-size: 76px;
  font-weight: 600;
  line-height: 98.8px;
  font-family: "Jost", sans-serif;
}

h2 {
  font-size: 57px;
  font-weight: 400;
  line-height: 74.1px;
  font-family: "Jost", sans-serif;
}

h3 {
  font-size: 43px;
  line-height: 55.9px;
  font-weight: 600;
  font-family: "Jost", sans-serif;
}

h4 {
  font-size: 32px;
  line-height: 41.6px;
  font-weight: 600;
  font-family: "Jost", sans-serif;
}

h5 {
  font-size: 24px;
  line-height: 31.2px;
  font-weight: 600;
  font-family: "Jost", sans-serif;
}

h6 {
  font-size: 18px;
  line-height: 23.4px;
  font-weight: 600;
  font-family: "Jost", sans-serif;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  margin: 0;
  color: var(--theme-color);
}

a:hover {
  text-decoration: none;
  color: var(--theme-color);
}

input:focus {
  color: var(--white-color);
}

p {
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 0;
  font-weight: 400;
  color: var(--pragraph-color);
}

.pt-120 {
  padding-top: 120px;
}

.pb-120 {
  padding-bottom: 120px;
}

.pt-80 {
  padding-top: 80px;
}

.pb-80 {
  padding-bottom: 80px;
}

.pb-60 {
  padding-bottom: 51px;
}

.pb-40 {
  padding-bottom: 15px;
}

/*-Responsive-*/
/*-Responsive-*/
@media screen and (max-width: 1399px) {
  h1 {
    font-size: 76px;
    line-height: 88.8px;
  }
  h2 {
    font-size: 57px;
    font-weight: 400;
    line-height: 74.1px;
    font-family: "Jost", sans-serif;
  }
  h3 {
    font-size: 43px;
    line-height: 55.9px;
    font-weight: 600;
    font-family: "Jost", sans-serif;
  }
  h4 {
    font-size: 32px;
    line-height: 41.6px;
    font-weight: 600;
    font-family: "Jost", sans-serif;
  }
  h5 {
    font-size: 20px;
    line-height: 26.2px;
  }
  h6 {
    font-size: 18px;
    line-height: 23.4px;
    font-weight: 500;
    font-family: "Jost", sans-serif;
  }
}
@media screen and (max-width: 1199px) {
  h1 {
    font-size: 56px;
    line-height: 76.8px;
  }
  h2 {
    font-size: 57px;
    font-weight: 400;
    line-height: 74.1px;
    font-family: "Jost", sans-serif;
  }
  h3 {
    font-size: 43px;
    line-height: 55.9px;
    font-weight: 600;
    font-family: "Jost", sans-serif;
  }
  h4 {
    font-size: 32px;
    line-height: 41.6px;
    font-weight: 600;
    font-family: "Jost", sans-serif;
  }
  h5 {
    font-size: 18px;
    line-height: 26.2px;
  }
  h6 {
    font-size: 18px;
    line-height: 23.4px;
    font-weight: 500;
    font-family: "Jost", sans-serif;
  }
}
@media screen and (max-width: 991px) {
  .pt-120 {
    padding-top: 80px;
  }
  .pb-120 {
    padding-bottom: 80px;
  }
  .pt-80 {
    padding-top: 60px;
  }
  .pb-80 {
    padding-bottom: 60px;
  }
  h1 {
    font-size: 48px;
    line-height: 68.8px;
  }
  h2 {
    font-size: 57px;
    font-weight: 400;
    line-height: 74.1px;
    font-family: "Jost", sans-serif;
  }
  h3 {
    font-size: 43px;
    line-height: 55.9px;
    font-weight: 600;
    font-family: "Jost", sans-serif;
  }
  h4 {
    font-size: 32px;
    line-height: 41.6px;
    font-weight: 600;
    font-family: "Jost", sans-serif;
  }
  h5 {
    font-size: 18px;
    line-height: 26.2px;
  }
  h6 {
    font-size: 18px;
    line-height: 23.4px;
    font-weight: 500;
    font-family: "Jost", sans-serif;
  }
  .section-header h2 {
    margin-bottom: 1px !important;
    font-size: 48px;
  }
  .section-header h3 {
    color: var(--white-color);
  }
  .section-header p {
    font-size: 18px;
  }
}
@media screen and (max-width: 767px) {
  .pt-120 {
    padding-top: 70px;
  }
  .pb-120 {
    padding-bottom: 70px;
  }
  p {
    font-size: 15px;
    line-height: 24px;
  }
  h1 {
    font-size: 44px;
    line-height: 60.8px;
  }
  h2 {
    font-size: 57px;
    font-weight: 400;
    line-height: 74.1px;
    font-family: "Jost", sans-serif;
  }
  h3 {
    font-size: 43px;
    line-height: 55.9px;
    font-weight: 600;
    font-family: "Jost", sans-serif;
  }
  h4 {
    font-size: 32px;
    line-height: 41.6px;
    font-weight: 600;
    font-family: "Jost", sans-serif;
  }
  h5 {
    font-size: 18px;
    line-height: 26.2px;
  }
  h6 {
    font-size: 18px;
    line-height: 23.4px;
    font-weight: 500;
    font-family: "Jost", sans-serif;
  }
  .section-header h2 {
    margin-bottom: 15px !important;
    font-size: 40px;
    line-height: 48px;
  }
  .section-header p {
    font-size: 18px;
  }
}
@media screen and (max-width: 575px) {
  .pt-120 {
    padding-top: 60px;
  }
  .pb-120 {
    padding-bottom: 60px;
  }
  .pt-80 {
    padding-top: 60px;
  }
  .pb-80 {
    padding-bottom: 60px;
  }
  p {
    font-size: 16px;
    line-height: 26px;
  }
  h1 {
    font-size: 36px;
    line-height: 44.8px;
  }
  h2 {
    font-size: 57px;
    font-weight: 400;
    line-height: 74.1px;
    font-family: "Jost", sans-serif;
  }
  h3 {
    font-size: 43px;
    line-height: 55.9px;
    font-weight: 600;
    font-family: "Jost", sans-serif;
  }
  h4 {
    font-size: 32px;
    line-height: 41.6px;
    font-weight: 600;
    font-family: "Jost", sans-serif;
  }
  h5 {
    font-size: 18px;
    line-height: 26.2px;
  }
  h6 {
    font-size: 18px;
    line-height: 23.4px;
    font-weight: 500;
    font-family: "Jost", sans-serif;
  }
}
@media screen and (max-width: 480px) {
  .section-header h2 {
    margin-bottom: 8px !important;
    font-size: 30px;
    line-height: 40px;
  }
  .section-header p {
    font-size: 16px !important;
  }
}
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--ratting-color);
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--ratting-color);
  border-radius: 5px;
}

/*-Responsive-*/
/*-Responsive-*/
.text-base {
  background: linear-gradient(114.26deg, #E4A91B 13.41%, #F88021 87.24%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.team-text {
  background: linear-gradient(114.26deg, #E4A91B 13.41%, #F88021 87.24%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.button__grp {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.section-bg {
  background: var(--section-bg);
}

.bg-white {
  background: var(--white-color);
}

.center {
  text-align: center;
  margin: 0 auto;
}

.reds {
  color: #FF0000 !important;
}

.greens {
  color: #26FF17 !important;
}

.twitter {
  background: var(--secoundary-color) !important;
}

.twitch {
  background: rgb(110, 60, 210) !important;
}

.youtube {
  background: rgb(172, 46, 46) !important;
}

.insta {
  background: rgb(207, 93, 93) !important;
}

.lind {
  background: rgb(78, 131, 228) !important;
}

.face {
  background: rgb(27, 114, 244) !important;
}

/*--Section Header Start--*/
/*--Section Header Start--*/
.section-center {
  text-align: center;
}

.max-width1 {
  max-width: 880px;
  margin: 0 auto 60px;
  text-align: center;
}
.max-width1 p {
  max-width: 680px;
  margin: 0 auto;
}

.max-width2 {
  max-width: 740px;
}

.section-header h2 {
  margin-top: -16px;
  color: var(--white-color);
}
.section-header .ptext1 {
  margin-bottom: 10px;
}
.section-header .ptext2 {
  margin-bottom: 36px;
}
.section-header p {
  font-size: 18px;
  padding: 0;
  color: var(--white-color);
}

.black-theme {
  color: var(--black-theme) !important;
}

/*--Section Header End--*/
/*--Section Header End--*/
/*Abstracts / typography*/
/*Abstracts / footer*/
/*------Footer Section Start--------*/
/*------Footer Section Start--------*/
.footer__section {
  position: relative;
  overflow: hidden;
}

.footer__top {
  position: relative;
  z-index: 1;
}
.footer__top .widget__items .footer-head {
  margin-bottom: 16px;
}
.footer__top .widget__items .footer-head .footer-logo {
  width: 152px;
  display: block;
}
.footer__top .widget__items .footer-head .footer-logo img {
  width: 100%;
  height: 100%;
}
.footer__top .widget__items .footer-head .title {
  color: var(--white-color);
  margin-top: -6px;
}
.footer__top .widget__items .content-area p {
  color: var(--white-color);
  margin-top: -5px;
}
.footer__top .widget__items .content-area .quick-link li {
  display: flex;
  align-items: center;
  transition: all 0.5s;
  margin-left: -20px;
}
.footer__top .widget__items .content-area .quick-link li:not(:last-child) {
  margin-bottom: 5px;
}
.footer__top .widget__items .content-area .quick-link li a {
  display: flex;
  align-items: center;
  font-size: 18px;
  color: var(--white-color);
  transition: all 0.5s;
  margin-left: 24px;
  font-weight: 400;
}
.footer__top .widget__items .content-area .quick-link li a img {
  margin-right: -28px;
  opacity: 0;
  transition: all 0.3s;
}
.footer__top .widget__items .content-area .quick-link li:hover a {
  color: var(--ratting-color);
}
.footer__top .widget__items .content-area .quick-link li:hover a img {
  opacity: 1;
  margin-right: 5px;
}
.footer__top .widget__items .content-area .contact li {
  gap: 8px;
  display: flex;
  align-items: center;
}
.footer__top .widget__items .content-area .contact li:not(:last-child) {
  margin-bottom: 7px;
}
.footer__top .widget__items .content-area .contact li .phone-icon i {
  color: var(--ratting-color);
}
.footer__top .widget__items .content-area .contact li .email-part {
  font-size: 16px;
  transition: all 0.3s;
  color: var(--white-color);
  font-weight: 400;
}
.footer__top .widget__items .content-area .contact li:hover a {
  color: var(--white-color);
}
.footer__top .widget__items .content-area form {
  position: relative;
  margin-top: 25px;
}
.footer__top .widget__items .content-area form input {
  background: linear-gradient(#1E272A, #1E272A) padding-box, linear-gradient(to right, #E4A91B, #F88021) border-box;
  border-radius: 5em;
  border: 1px solid transparent;
  padding: 15px 138px 15px 20px;
  outline: none;
  box-shadow: none;
  width: 100%;
  color: var(--white-color);
  position: relative;
  background-color: transparent;
  margin-bottom: 34px;
}
.footer__top .widget__items .content-area form ::-moz-placeholder {
  color: var(--white-color);
}
.footer__top .widget__items .content-area form ::placeholder {
  color: var(--white-color);
}
.footer__top .widget__items .content-area form .cmn--btn2 {
  position: absolute;
  top: 4px;
  right: 5px;
  border: none;
  padding: 11px 18px 14px;
}
.footer__top .widget__items .content-area .social__area h6 {
  color: var(--white-color);
  margin-bottom: 10px;
}
.footer__top .widget__items .content-area .social__area .social {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.footer__top .widget__items .content-area .social__area .social li:not(:last-child) {
  margin-right: 10px;
}
.footer__top .widget__items .content-area .social__area .social li .icon {
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid var(--border-color);
  transition: all 0.3s;
  display: block;
  width: 40px;
  height: 40px;
  line-height: 38px;
  border-radius: 50%;
  background: linear-gradient(#1E272A, #1E272A) padding-box, linear-gradient(to right, #E4A91B, #F88021) border-box;
  border-radius: 5em;
  border: 1px solid transparent;
}
.footer__top .widget__items .content-area .social__area .social li .icon:hover {
  background: var(--button-color);
}
.footer__top .widget__items .content-area .social__area .social li .icon:hover i {
  color: var(--white-color);
}
.footer__top .widget__items .content-area .social__area .social li .icon i {
  color: var(--theme-color);
  font-size: 18px;
}
.footer__top .widget__items .content-area .social__area .social li .icon:hover {
  background-color: var(--theme-color);
  border-color: var(--theme-color);
}

.footer__bottom {
  border-top: 1px solid #404040;
  padding: 29px 0;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 1;
}
.footer__bottom p {
  font-size: 18px;
  color: var(--white-color);
}
.footer__bottom .bottom__ling {
  display: flex;
  align-items: center;
  gap: 18px;
}
.footer__bottom .bottom__ling li a {
  color: var(--white-color);
  font-size: 18px;
  font-weight: 400;
}

/*------Footer Section End--------*/
/*------Footer Section End--------*/
/*Abstracts / footer*/
/*Abstracts / header*/
/*--Scroll Top To Bottom Start--*/
#progress {
  background-color: var(--ratting-color);
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border: 1px solid var(--border-two);
  border-radius: 5px;
  position: fixed;
  right: 20px;
  z-index: 9999;
  display: none;
  transition: all 0.3s;
  bottom: 20px;
}
#progress #valiu {
  display: block;
}
#progress #valiu img {
  width: 16px;
}
#progress:hover {
  cursor: pointer;
  background-color: var(--white-color);
  border-color: var(--primary-color);
}

/*--Scroll Top To Bottom Start--*/
/*--Menu Header Start--*/
.header-section {
  width: 100%;
  background-color: var(--header-color);
  padding: 20px 0 20px;
}

.menu-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999999;
  transition: all 0.9s;
  background-color: var(--box-bg);
  box-shadow: 0px -31px 32px 9px #234DD4;
  padding: 18px 0 20px;
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.9s;
}
.header-wrapper .logo-menu {
  width: 152px;
}
.header-wrapper .logo-menu img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.header-wrapper .main-menu {
  position: relative;
  display: flex;
  align-items: center;
}
.header-wrapper .main-menu li {
  transition: all 0.6s;
  position: relative;
  padding-left: 20px;
}
.header-wrapper .main-menu li a {
  color: var(--white-color);
  font-weight: 600;
  font-size: 18px;
  font-family: "Jost", sans-serif;
  transition: all 0.3s;
  text-transform: capitalize;
}
.header-wrapper .main-menu li a i {
  margin-left: 2px;
  font-size: 14px !important;
  color: var(--base-color);
}
.header-wrapper .main-menu li:hover a {
  color: #E99920;
}
.header-wrapper .main-menu li:hover .sub-menu {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}
.header-wrapper .main-menu .cmn-grp {
  display: flex;
  align-items: center;
  gap: 20px;
  display: none;
}

@media screen and (max-width: 1199px) {
  .header-wrapper .logo-menu {
    width: 140px;
  }
  .header-wrapper .main-menu li a {
    font-size: 16px;
  }
}
/*----Menu Header Start-----*/
/*Abstracts / header*/
/*Abstracts / banner*/
.banner__section {
  background: url(../../assets/img/banner/banner-bg.png) no-repeat center center;
  background-size: cover;
  overflow: hidden;
  position: relative;
  padding: 80px 0 110px;
}

.banner__content {
  position: relative;
}
.banner__content h1 {
  color: var(--white-color);
  margin-bottom: 0px;
  line-height: 78px;
}
.banner__content p {
  color: var(--white-color);
  margin-bottom: 35px;
  font-size: 24px;
  line-height: 34px;
  font-weight: 500;
  margin-top: 23px;
}

.description-table {
  border-radius: 10px;
  margin-top: 20px;
  overflow-x: auto;
}
.description-table table {
  width: 100%;
  overflow-x: auto;
  border-collapse: separate;
  border-spacing: 0 10px;
}
.description-table table tbody tr {
  background-color: var(--box-bg);
}
.description-table table tbody tr:first-child {
  background-color: transparent;
}
.description-table table tbody tr th {
  padding: 0px 15px 5px;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: var(--white-color);
}
.description-table table tbody tr td {
  color: var(--white-color);
  font-size: 16px;
  font-weight: 400;
  color: var(--white-color);
  padding: 11px 15px;
}
.description-table table tbody tr .tdfirst .icon {
  margin-right: 8px;
  float: left;
}
.description-table table tbody tr .tdfirst span {
  font-size: 16px;
  font-weight: 400;
  color: var(--white-color);
}
.description-table table tbody tr:not(:first-child):hover {
  background: #1f313c;
}

/*Abstracts / banner*/
/*Abstracts / section*/
.owl-nav {
  margin-top: 75px;
}
.owl-nav button.owl-prev {
  position: absolute;
  top: 50%;
  left: 40px;
  transform: translateY(-50%);
  line-height: 6px;
  background: var(--white-color);
  width: 48px;
  height: 48px;
  border-radius: 10px;
  transition: all 0.3s;
}
.owl-nav button.owl-prev i {
  font-size: 18px;
  color: var(--black-color);
  transition: all 0.3s;
}
.owl-nav button.owl-prev:hover {
  background-color: var(--theme-color);
}
.owl-nav button.owl-prev:hover i {
  color: var(--white-color);
}
.owl-nav button.owl-next {
  position: absolute;
  top: 50%;
  right: 40px;
  line-height: 6px;
  background: var(--white-color);
  width: 48px;
  height: 48px;
  transform: translateY(-50%);
  border-radius: 10px;
  transition: all 0.3s;
}
.owl-nav button.owl-next i {
  font-size: 18px;
  line-height: 20px;
}
.owl-nav button.owl-next:hover {
  background-color: var(--theme-color);
}
.owl-nav button.owl-next:hover i {
  color: var(--white-color);
}

.owl-dots .owl-dot span {
  background-color: var(--border-two);
  width: 12px;
  height: 12px;
}
.owl-dots .owl-dot.active span {
  background-color: var(--theme-color);
  width: 12px;
}

.feature__items {
  display: flex;
  gap: 20px;
}
.feature__items .thumb {
  border-radius: 10px;
  width: 60px;
  height: 60px;
  transition: all 0.4s;
}
.feature__items .thumb img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  transition: all 0.4s;
}
.feature__items .content {
  width: calc(100% - 60px);
}
.feature__items .content h5 {
  color: var(--white-color);
  margin-bottom: 12px;
  transition: all 0.4s;
}
.feature__items .content p {
  color: var(--white-color);
  opacity: 0.8;
}
.feature__items:hover .thumb {
  transform: rotateX(-360deg);
}
.feature__items:hover .content h5 {
  color: var(--theme-color);
}

.game__items {
  position: relative;
  width: 100%;
  border-radius: 20px;
}
.game__items img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.game__items .game__overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0 0 -100% 0;
  border-radius: 20px;
  background: rgba(26, 24, 24, 0.7);
  opacity: 0;
  transition: all 0.4s;
}
.game__items .game__overlay .content {
  padding: 15px 20px;
}
.game__items .game__overlay .content h4 {
  color: var(--white-color);
  position: absolute;
  bottom: 20px;
  left: 20px;
}
.game__items .game__overlay .content .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.game__items .game__overlay .content h6 {
  position: absolute;
  top: 20px;
  left: 20px;
  color: var(--theme-color);
}
.game__items:hover .game__overlay {
  inset: 0 0 -100% 0;
  opacity: 1;
}

.jackpot__wrap {
  background-color: var(--box-bg);
  border-radius: 20px;
  padding: 79px 110px 80px;
}
.jackpot__wrap .jackpot__head {
  text-align: center;
  margin: 0 auto 22px;
}
.jackpot__wrap .jackpot__head h5 {
  font-weight: 600;
  color: var(--white-color);
  margin-bottom: 10px;
}
.jackpot__wrap .jackpot__head h2 {
  color: var(--white-color);
}

.jack__items {
  width: 100%;
}
.jack__items img {
  width: 100%;
  height: 100%;
  transition: all 0.4s;
}
.jack__items:hover img {
  transform: scale(1.1);
}

.jackpot__btn {
  text-align: center;
  margin: 40px auto 0;
}

.wins__wrap .nav {
  display: flex;
  align-items: center;
  border-radius: 26px;
  border: unset;
  margin-bottom: 24px;
  gap: 10px;
}
.wins__wrap .nav .nav-item .nav-link {
  color: var(--white-color);
  font-weight: 600;
  line-height: 22px;
  font-size: 18px;
  outline: none;
  border: unset;
  padding: 10px 20px 12px;
  box-shadow: none;
  border-radius: 21px;
}
.wins__wrap .nav .nav-item .nav-link.active {
  background: linear-gradient(114.26deg, #E4A91B 13.41%, #F88021 87.24%);
  border-radius: 21px;
  border: none;
  outline: none;
  box-shadow: none;
}

.wins__table {
  border-radius: 10px;
  margin-top: 20px;
  overflow-x: auto;
}
.wins__table table {
  width: 100%;
  overflow-x: auto;
}
.wins__table table tbody tr {
  background-color: #1A2225;
}
.wins__table table tbody tr:nth-child(even) {
  background-color: var(--box-bg);
  border-top: 1px solid #3D5665;
  border-bottom: 1px solid #3D5665;
}
.wins__table table tbody tr th {
  padding: 20px 30px 20px;
  font-size: 24px;
  font-weight: 500;
  line-height: 34px;
  color: var(--white-color);
}
.wins__table table tbody tr td {
  color: var(--white-color);
  font-size: 16px;
  font-weight: 700;
  color: var(--white-color);
  padding: 18px 30px;
}
.wins__table table tbody tr .tdfirst {
  display: flex;
  align-items: center;
}
.wins__table table tbody tr .tdfirst .icon {
  margin-right: 8px;
}
.wins__table table tbody tr .tdfirst span {
  font-size: 16px;
  font-weight: 700;
  color: var(--white-color);
}

.register__modal {
  z-index: 9999999;
}
.register__modal .modal-content {
  background: url(../../assets/img/modal/tab-bg.png) no-repeat center center;
  background-size: cover;
  border-radius: 20px;
}
.register__modal .modal-content .modal-header {
  border: unset;
  padding: 0 0;
}
.register__modal .modal-content .modal-body {
  padding: 0px 20px 20px 20px;
}
.register__modal .modal-content .modal-body .modal__head__wrap {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  gap: 20px;
}
.register__modal .modal-content .modal-body .modal__head__wrap .modal__head__content span {
  font-weight: 400;
  font-size: 16px;
  color: var(--white-color);
  display: block;
  margin-bottom: 0;
}
.register__modal .modal-content .modal-body .modal__head__wrap .modal__head__content h3 {
  margin-bottom: 1px;
  color: var(--white-color);
}
.register__modal .modal-content .modal-body .modal__head__wrap .modal__head__content p {
  font-size: 16px;
  font-weight: 400;
  color: var(--white-color);
  line-height: 28px;
}
.register__modal .modal-content .modal-body .ptext {
  font-weight: 500;
  font-size: 18px;
  color: var(--white-color);
  margin-bottom: 20px;
}
.register__modal .modal-content .modal-body .bottom__dollar__wrap {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.register__modal .modal-content .modal-body .bottom__dollar__wrap .dollar__items {
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  padding: 5px 10px;
  transition: all 0.4s;
}
.register__modal .modal-content .modal-body .bottom__dollar__wrap .dollar__items:hover {
  background-color: var(--body-color);
}
.register__modal .modal-content .modal-body .bottom__dollar__wrap .dollar__items span {
  color: var(--white-color);
  font-weight: 600;
}

.modal-header {
  padding-top: 30px !important;
  padding-right: 30px !important;
}
.modal-header .btn-close {
  box-sizing: content-box;
  width: 1em;
  height: 1em;
  padding: 0.25em 0.25em;
  color: #000;
  background: url(../../assets/img/modal/cr.png) no-repeat center center;
  background-size: contain;
  border: 0;
  border-radius: 0.375rem;
  opacity: 1;
}

/*Abstracts / section*/
/*Abstracts / animation*/
@keyframes bet1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes round1 {
  0% {
    transform: rotate(360deg);
  }
}
/*Abstracts / animation*/
/*Abstracts / componets*/
/*--Button Area Start--*/
/*--Button Area Start--*/
.cmn--btn {
  padding: 10px 30px 12px;
  font-size: 18px;
  line-height: 23px;
  font-weight: 600;
  display: inline-block;
  color: var(--white-color) !important;
  text-transform: capitalize;
  transition: all 0.3s;
  font-family: "Jost", sans-serif;
  text-align: center;
  background: #E99920;
  border-radius: 22px;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.cmn--btn::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  background: linear-gradient(114.26deg, #E4A91B 13.41%, #F88021 87.24%);
  height: 100%;
  width: 0px;
  transition: all 0.4s;
}
.cmn--btn:hover::before {
  width: 100%;
}
.cmn--btn:hover {
  color: var(--theme-color) !important;
}
.cmn--btn:hover span {
  color: var(--white-color);
}
.cmn--btn span {
  z-index: 1;
  position: relative;
  transition: all 0.4s;
}

.cmn--btn2 {
  border-radius: 10px;
  padding: 10px 30px 12px;
  font-size: 18px;
  line-height: 23px;
  font-weight: 600;
  font-family: "Jost", sans-serif;
  display: inline-block;
  color: var(--white-color) !important;
  text-transform: capitalize;
  letter-spacing: 1px;
  transition: all 0.3s;
  text-align: center;
  background: linear-gradient(114.26deg, #E4A91B 13.41%, #F88021 87.24%);
  border-radius: 22px;
  position: relative;
  overflow: hidden;
}
.cmn--btn2::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  background: linear-gradient(114.26deg, #FFF4DA 13.41%, #E4914E 87.24%);
  height: 100%;
  width: 0px;
  transition: all 0.4s;
}
.cmn--btn2:hover::before {
  width: 100%;
}
.cmn--btn2:hover span {
  color: var(--black-theme);
}
.cmn--btn2 span {
  z-index: 1;
  position: relative;
  transition: all 0.4s;
}

.mneu-btn-grp {
  display: flex;
  align-items: center;
  gap: 20px;
}

/*--Button Area End--*/
/*--Button Area End--*/
/*Abstracts / componets*/
/*Abstracts / reponsive*/
@media screen and (max-width: 1199px) {
  .banner__section {
    padding: 70px 0 110px;
  }
  .banner__content h1 {
    font-size: 45px;
    line-height: 45px;
    margin-bottom: 0px;
  }
  .banner__content p {
    font-size: 20px;
    font-weight: 400;
  }
  .max-width1 {
    margin: 0 auto 50px;
  }
  .pb-60 {
    padding-bottom: 41px;
  }
  .footer__top .widget__items .content-area p {
    margin-top: -5px;
    font-size: 16px;
    line-height: 24px;
  }
}
@media screen and (max-width: 991px) {
  .header-section {
    padding: 20px 0;
  }
  .main-menu {
    position: absolute;
    top: 100%;
    width: 100%;
    display: inline !important;
    left: 0;
    z-index: 999;
    padding: 5px 5px 0px;
    background: var(--header-color);
    transform-origin: top;
    max-height: calc(100vh - 130px);
    overflow-y: auto;
    border-radius: 10px;
    transition: all 0.4s;
    height: 350px;
    opacity: 1;
    visibility: visible;
  }
  .main-menu:not(.active) {
    transition: all 0.5s;
    opacity: 0;
    visibility: hidden;
    height: 0;
  }
  .main-menu li {
    width: 100%;
    border-radius: 2px;
    padding-left: 10px !important;
  }
  .main-menu li:not(:last-child) {
    margin-right: 0 !important;
    margin-bottom: 7px;
    border: 1px solid rgba(138, 95, 49, 0.1882352941);
  }
  .main-menu li a {
    display: block;
    padding: 8px 10px 9px;
    font-size: 17px;
  }
  .main-menu li .sub-menu {
    margin: 0px 10px 15px 20px !important;
  }
  .main-menu li .sub-menu li a {
    padding: 8px 15px !important;
  }
  .main-menu li .sub-menu li .sub-two {
    position: static !important;
    width: 100% !important;
    padding: 0 10px 20px 30px;
  }
  .main-menu li .sub-menu li .sub-two li a {
    display: block;
  }
  .main-menu .active a {
    color: var(--white-color);
  }
  .main-menu .cmn-grp {
    padding-left: 0 !important;
    display: flex;
    align-items: center;
    gap: 20px;
    display: block !important;
  }
  .main-menu .cmn-grp .cmn--btn {
    padding: 8px 25px 8px;
    display: inline-block;
  }
  .main-menu .cmn-grp .cmn--btn2 {
    padding: 8px 25px 8px;
    display: inline-block;
  }
  .header-bar {
    position: relative;
    width: 31px;
    height: 20px;
  }
  .header-bar span {
    position: absolute;
    width: 100%;
    height: 2px;
    display: inline-block;
    transition: all 0.3s;
    left: 0;
    background: var(--theme-color);
  }
  .header-bar span:first-child {
    top: 0;
    background: var(--theme-color);
  }
  .header-bar span:nth-child(2) {
    top: 44%;
    background: var(--theme-color);
  }
  .header-bar span:last-child {
    bottom: 0;
    background: var(--theme-color);
  }
  .header-bar.active span:first-child {
    transform: rotate(45deg) translate(3px, 9px);
  }
  .header-bar.active span:nth-child(2) {
    opacity: 0;
  }
  .header-bar.active span:last-child {
    transform: rotate(-45deg) translate(3px, -9px);
  }
  .header-bar:hover {
    cursor: pointer;
  }
  .header-wrapper {
    flex-wrap: wrap;
  }
  .header-wrapper .mneu-btn-grp {
    display: none;
  }
  .banner__section {
    padding: 80px 0 100px;
  }
  .banner__content p {
    line-height: 30px;
  }
  .jackpot__wrap {
    padding: 60px 80px 60px;
  }
  .jackpot__head {
    text-align: center;
    margin: 0 auto 25px;
  }
  .jackpot__head h5 {
    margin-bottom: 10px;
  }
  .jackpot__head h2 {
    line-height: 50px;
    font-size: 42px;
  }
  .max-width1 {
    margin: 0 auto 40px;
  }
  .pb-60 {
    padding-bottom: 31px;
  }
  .wins__table {
    border-radius: 10px;
    margin-top: 20px;
    overflow-x: auto;
  }
  .wins__table table {
    min-width: 950px;
    overflow-x: auto;
  }
}
@media screen and (max-width: 767px) {
  .jackpot__wrap {
    padding: 40px 40px 40px;
  }
  .jackpot__head {
    text-align: center;
    margin: 0 auto 30px;
  }
  .jackpot__head h5 {
    margin-bottom: 10px;
  }
  .jackpot__head h2 {
    line-height: 42px;
    font-size: 36px;
  }
  .jackpot__btn {
    margin: 30px auto 0;
  }
  .footer__bottom {
    padding: 19px 0;
    display: grid;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
  }
  .footer__bottom p {
    font-size: 16px;
  }
  .footer__bottom .bottom__ling {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
  }
  .footer__bottom .bottom__ling li a {
    font-size: 16px;
  }
}
@media screen and (max-width: 575px) {
  .banner__section {
    padding: 60px 0 80px;
  }
  .banner__content h1 {
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 1px;
  }
  .banner__content p {
    margin-bottom: 25px;
    margin-top: 15px;
    line-height: 28px;
  }
  .banner__content .button__grp {
    gap: 10px;
  }
  .description-table table {
    min-width: 600px;
  }
  .jackpot__wrap {
    padding: 40px 28px 40px;
  }
  .jackpot__head {
    text-align: center;
    margin: 0 auto 30px;
  }
  .jackpot__head h5 {
    margin-bottom: 10px;
  }
  .jackpot__head h2 {
    line-height: 34px;
    font-size: 28px;
  }
  .jack__items {
    width: 250px;
    height: 250px;
    margin: 0 auto;
  }
  .jack__items img {
    width: 100%;
    height: 100%;
  }
  .max-width1 {
    margin: 0 auto 35px;
  }
  .pb-60 {
    padding-bottom: 25px;
  }
}
@media screen and (max-width: 420px) {
  .banner__content p {
    font-size: 17px;
    font-weight: 400;
  }
  .register__modal {
    z-index: 9999999;
  }
  .register__modal .modal-content .modal-body .modal__head__wrap {
    display: grid;
    align-items: center;
    margin-bottom: 30px;
    gap: 20px;
  }
  .register__modal .modal-content .modal-body .modal__head__wrap .modal__head__content span {
    font-weight: 400;
    font-size: 16px;
    color: var(--white-color);
    display: block;
    margin-bottom: 0;
  }
  .register__modal .modal-content .modal-body .modal__head__wrap .modal__head__content h3 {
    margin-bottom: 1px;
    color: var(--white-color);
  }
  .register__modal .modal-content .modal-body .modal__head__wrap .modal__head__content p {
    font-size: 16px;
    font-weight: 400;
    color: var(--white-color);
    line-height: 28px;
  }
}
/*Abstracts / reponsive*/
/*CSS Table Of Content Ends End*//*# sourceMappingURL=main.css.map */